.commentHeader {
    border-top: 1px solid #171717;
    margin-top: 0.75rem;
    padding-top: 0.75rem;
}

.commentButtons {
    margin-top: 0.5rem;
}

.commentFooter>.timestamp {
    margin-top: 0.5rem;
}
