* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --primary-color: #0b0b0b;
  --secondary-color: #ffffff;
  --accent-color: #171717;
  --margin-top: 0.75rem;
  --border-radius: 0.25rem;
  --default-height: 2rem;
  --default-font-size: 0.8rem;
}

body {
  background-color: #090909;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
}

h1 {
  font-size: 1rem;
}

.routerLink {
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  border-radius: var(--border-radius);
  border: none;
  height: var(--default-height);
  color: var(--secondary-color);
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit
}

img {
  display: block;
}

ul {
  list-style: none;
}

label {
  padding: 0 0.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 0.7rem;
  color: #777777;
  width: 100%;
}


.labelError {
  color: #b71c1c;
}

.labelPlaceholder {
  visibility: hidden;
}

p {
  font-size: 0.8rem;
  color: var(--secondary-color);
}

h3 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #171717;
}

input {
  height: 2rem;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  outline: 1px solid #171717;
  background-color: #070707;
  color: var(--secondary-color);
  padding: 0.5rem;
  font-size: 0.8rem;
  z-index: 1;
}

.inputError {
  outline: 1px solid #b71c1c;;
}

input:focus {
  border: none;
  outline: 1px solid var(--secondary-color);
}

input[type='file'], input[type='checkbox'] {
  display: none;
}

textarea {
  min-height: 6rem;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  outline: 1px solid #171717;
  background-color: #070707;
  color: var(--secondary-color);
  padding: 0.5rem;
  resize: vertical;
  font-size: 0.8rem;
}

textarea:focus {
  border: none;
  outline: 1px solid var(--secondary-color);
}

textarea::placeholder, input::placeholder {
  font-style: italic;
  color: #777777;
}

.buttonContainer {
  width: 100%;
  gap: 0.75rem;
  margin-top: 0.75rem;
}


.wrapper {
  width: 100vw;
  max-width: 566px;
  margin-top: 4.5rem;
  margin-bottom: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.centerWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullWidth {
  width: 100%;
}

.spacer {
  height: 2rem;
}

.container {
  color: var(--secondary-color);
  font-size: 0.8rem;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  outline: 1px solid #171717;
  width: 100%;
}

.microContainer {
  color: var(--secondary-color);
  font-size: 0.8rem;
  width: 100vw;
  max-width: 21rem;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  outline: 1px solid #171717;
}

.containerTitle {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.footerNav {
  position: fixed;
  bottom: 0;
  color: var(--secondary-color);
  font-size: 0.8rem;
  width: 100%;
  height: 3.5rem;
  max-width: 566px;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  padding: 0.75rem;
  outline: 1px solid #171717;
  z-index: 1000;
}

.headerNav {
  position: fixed;
  top: 0;
  color: var(--secondary-color);
  font-size: 0.8rem;
  width: 100%;
  height: 3.5rem;
  max-width: 566px;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  padding: 0.75rem;
  outline: 1px solid #171717;
  z-index: 1000;
}

.buttonText {
  border-radius: var(--border-radius);
  height: var(--default-height);
  width: 100%;
  color: var(--secondary-color);
  background-color: #0b0b0b;
  outline: 1px solid var(--accent-color);
  padding: 0rem 0.75rem;
  font-size: 0.7rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonText:hover {
  background-color: #171717;
}

.buttonIcon {
  border-radius: var(--border-radius);
  border: none;
  height: 2rem;
  width: 2rem;
  color: var(--secondary-color);
  font-size: 1.25rem;
}

.inputWithButton {
  width: 100%;
  border-radius: 0.25rem 0 0 0.25rem ;
}

.buttonWithInput {
  border-radius: 0rem 0.25rem 0.25rem 0;
  height: 2rem;
  width: 3rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  outline: 1px solid var(--accent-color);
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonWithInput:hover {
  background-color: #171717;
}

.buttonTextNone {
  border-radius: var(--border-radius);
  height: var(--default-height);
  width: 100%;
  color: transparent;
  background-color: transparent;
  outline: 1px solid transparent;
  padding: 0rem 0.75rem;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: auto;
}

.avatar {
  width: 2rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.username {
  font-size: var(--default-font-size);
  font-weight: 600;
  color: #636363;
}

.nickname {
  font-size: var(--default-font-size);
}

.tosContainer {
  position: absolute;
  max-height: 566px;
  max-width: 566px;
  z-index: 1010;
  padding: 0.75rem;
  color: var(--secondary-color);
  font-size: 0.8rem;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  margin: 0.75rem;
  outline: 1px solid #171717;
}

.tosHeader {
  position: relative;
}

.tosHeader>button {
  position: absolute;
  right: -0.35rem;
  top: -0.35rem;
}

.tosFooter {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  hyphens: auto;
  padding-right: 0.5rem; /* spazio per scrollbar */
}

.tosFooter section {
  margin-top: 0.75rem;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* sfondo scuro trasparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1005; /* assicura che stia sopra tutto */
}

/*Display Flex*/
.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexRowStart {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.flexRowEnd {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.flexRowSB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.flexColumnEnd {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}