* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --primary-color: #0b0b0b;
  --secondary-color: #ffffff;
  --accent-color: #171717;
  --margin-top: 0.75rem;
  --border-radius: 0.25rem;
  --default-height: 2rem;
  --default-font-size: 0.8rem;
}

body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 3.75rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 1rem;
}

button {
  border-radius: var(--border-radius);
  border: none;
  height: var(--default-height);
  color: var(--secondary-color);
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

label {
  margin-top: var(--margin-top);
}

.wrapper {
  padding: 0.75rem 0.75rem;
  width: 100vw;
  height: 100%;
  max-width: 566px;
}

.container {
  color: var(--secondary-color);
  font-size: 0.8rem;
  width: 100%;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  outline: 1px solid #171717;
}

.footerNav {
  position: fixed;
  bottom: 0;
  color: var(--secondary-color);
  font-size: 0.8rem;
  width: 100%;
  max-width: 566px;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  padding: 0.75rem;
  outline: 1px solid #171717;
  z-index: 1000;
}

.headerNav {
  position: fixed;
  top: 0;
  color: var(--secondary-color);
  font-size: 0.8rem;
  width: 100%;
  max-width: 566px;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  padding: 0.75rem;
  outline: 1px solid #171717;
  z-index: 1000;
}

.buttonText {
  border-radius: var(--border-radius);
  height: var(--default-height);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  outline: 1px solid var(--accent-color);
  padding: 0rem 0.75rem;
  font-size: 0.7rem;
  font-weight: 600;
}

.buttonIcon {
  border-radius: var(--border-radius);
  border: none;
  height: 2rem;
  width: 2rem;
  color: var(--secondary-color);
  font-size: 1.25rem;
}

.avatar {
  width: 2rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.username {
  font-size: var(--default-font-size);
  font-weight: lighter;
  color: #636363;
}

.nickname {
  font-size: var(--default-font-size);
}


/*Display Flex*/
.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexRowStart {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.flexRowEnd {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.flexRowSB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.flexColumnEnd {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}